.Check_B{
  width: 20px;
  height: 20px;
}
.T15{ 
  font-size: 20px;
}
.bootstrap-select .dropdown-menu{
  max-width: 100%!important;
}
.transparente{
  background-color: transparent;
}
.pendiente{
  background-color: darkorange;
}
.Oculta_Id{
  display: none;
}
.modal-body {
  height: 600px;
  overflow-y: auto;
}
.alineado{
 text-align: left!important;
}

.Auto_1 {
    border: 1px solid black;
    background-image: url("../img/Auto_1.png");
}

.Auto_2 {
    border: 1px solid black;
    background-image: url("../img/Auto_2.jpg");
}
.Auto_3 {
  border: 1px solid black;
  background-image: url("../img/Tida1.png");
}
.Auto_4 {
  border: 1px solid black;
  background-image: url("../img/Tida2.png");
}
.Auto_1 {
  border: 1px solid black;
  background-image: url("../img/Auto_1.png");
}

.Auto_2 {
  border: 1px solid black;
  background-image: url("../img/Auto_2.jpg");
}

.Auto_1_1 {
    border: 1px solid black;
    height: 150px;;
    background-image: url("../img/Auto_1.png");
}
.Auto_1_2 {
    border: 1px solid black;
    height: 150px;;
    background-image: url("../img/Auto_2.jpg");
}

.Auto_1_3 {
  border: 1px solid black;
  height: 150px;;
  background-image: url("../img/Tida1.1.png");
}
.Auto_1_4 {
  border: 1px solid black;
  height: 150px;;
  background-image: url("../img/Tida2.2.png");
}


 .ML{margin-left: 60px;}
 
.wrapper {
    text-align:center;
    width:300px;
    height:200px;
    position:relative;
}

.wrapper>div:first-child {
    border:1px solid #ababab;
    position:relative;
    height:150px;
    overflow:hidden;
}

.wrapper .line {
    display:inline-block;
    position:absolute;
    z-index:-1;
    width:4px;
    background-color:#808080;
    transform: rotate(90deg);
    transition: all 0.8s ease-out;
    height:200px;
    top:12%
}

.wrapper .line::after {
    position: absolute;
    content:"";
    top:0%;
    left:-1px;
    bottom:50%;
    right:-1px;
    background-color:#fff;
}

.number {
    width:20px;
    left:140px;
    height:240px;
    display:inline-block;
    position:absolute;
    z-index:-1;
}

.number.n0 {
    transform: rotate(-90deg);
    bottom:-80px;
}

.number.n25 {
    transform: rotate(-45deg);
}

.number.n75 {
    transform: rotate(45deg);
}

.number.n180 {
    transform: rotate(90deg);
    bottom:-80px;
}

.circle1 {
    position:absolute;
    background-color:#353535;
    top:72%;
    left:calc(50% - 8px);
    width:20px;
    height:20px;
    border-radius:50% 50%;
}

.circle2 {
    position:absolute;
    top:24px;
    left:calc(150px - 95px);
    width:190px;
    height:190px;
    border-radius:50% 50% 0 0;
    z-index:-2;
    background: linear-gradient(to right, #9b0606, #099146);
}

.circle2::after {
    position:absolute;
    content:"";
    height:50%;
    background-Color:#fff;
    top:92px;
    left:0;
    width:101%;
}

.circle2::before {
    position:absolute;
    content:"";
    top:20px;
    left:20px;
    background-Color:#fff;
    height:calc(100% - 40px);
    width:calc(100% - 40px);
    border-radius:50% 50% 0 0;
}

.scroll {
    overflow-x:auto;
}

.scroll>div {
    width:1000px;
    height:1px;
}

.Btn_Descargar {
    position: relative;
    overflow: hidden;
    height: 2.1rem;
    padding: 0 0rem;
    border-radius: 0.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    width: 2rem;
  }
  
  .Btn_Descargar:hover::before {
    transform: scaleX(1);
  }
  
  .Btn_Descargar-content {
    position: relative;
    z-index: 1;
  }
  
  .Btn_Descargar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
  }

.Btn_Guardar {
    padding: 0.1em 0.8em;
    border: 1px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    border-radius: 3px;
    height: 2rem;
   }
   
   .Btn_Guardar::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   .Btn_Guardar:hover::before {
    width: 105%;
   }
   .Btn_Guardar:hover {
    color: #111;
   }
   


.switch-holder {
    margin-top: 16px;
    display: flex;
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, .7),10px 10px 10px rgba(0, 0, 0, .2), inset 8px 8px 15px rgba(255, 255, 255, .7), inset 10px 10px 10px rgba(0, 0, 0, .2);
    justify-content: space-between;
    align-items: center;
  }
  
  .switch-label {
    padding: 0 20px 0 10px;
    font-size: 0.8rem;
  }
  
  .switch-label i {
    margin-right: 1px;
  }
  
  .switch-toggle {
    height: 40px;
  }
  
  .switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
  }
  
  .switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 38px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6), inset 10px 10px 10px rgba(0, 0, 0, .25);
  }
  
  .switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'NO';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 5px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background-color: #a50a0a;
    color: #fff;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
  }
  
  .switch-toggle input[type="checkbox"]:checked+label::before {
    left: 15%;
    content: 'SI';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),3px 3px 5px #00b33c;
  }

  
  #info {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 9px;
    padding-top: 3px;
  }
  
  #footer {
    display: inline-flex;
    background-color: #fff;
    border-radius: 50px;
    padding: 15px 0px 25px 0px;
    width: 160px;
    height: 2rem;
  }
  
  #duracion {
    outline: none;
    width: 5rem;
    height: 0.5rem;
    padding-left: 0.4rem;
    text-align: center;
    font-size: 1rem;
  }
  
  #buttonMicrophone {
    background-image: url("../img/microfono.png");
    font-size: 8px;
  }
  
  #buttonstop {
    background-image: url("../img/stop.png");
  }
  
  #buttonMicrophone:hover {
    background-color: #f5b6cb;
  }

  
  #buttonMicrophone:active {
    background-color: #f5b6cb;
  }
  
  .button {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    margin-top: -14px;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #F1F3F4;
    border-radius: 50px;
  }
  
  .shadow {
    box-shadow: 0 20px 40px 0 rgba(91, 107, 174, 0.15);
  }
  
  .transition {
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  @keyframes bouncing{
    0%  { background-color: #f5b6cb; }
    100%{ background-color: #fff; }
  }
  
  .animation-loop {
    animation: bouncing 0.5s 0s infinite alternate both;
  }