.banner{
	background: midnightblue;
	color: white;
}

.encabezado{
	color: midnightblue;
	font-family: BentonSansBBVA-Medium",Helvetica,Arial,sans-serif";
	letter-spacing: 2px;
	font-size: 32px;
}

.fa-piggy-bank{
	font-size: 35px;
}

#total{
	font-size: 25px;
}


/* En la clase corazon vamos a llamar latidos en la animación  */
.animacion{
	display: inline-block;
	text-shadow: 0 0 2 px #222,1px 1px  0 #450505;
	animation: chicle 3s infinite;
	transform-origin: center;
}

@keyframes chicle{
	30% {
	  transform: scaleX(0.90) scaleY(0.95);
	}
	50% {
	  transform: scaleX(0.95) scaleY(0.90);
	}
	60% {
	  transform: scaleX(0.90) scaleY(0.95);
	}  
}


.btnAddNota{
	color: white;
	background-color:#2c3e50;
}

#tblPendientes{
	color: black;
}

.btnAddNota:hover{
	background-color: #34495e;
	color: white;
}


/*FRASE POPUP*/
.conten{
	position: absolute;
	bottom: 10px;
}
/*notificacion de barra*/
.notEmail{
	z-index: 999999999999;
	bottom: 0;
	right: 0;
	float: right;
    display: none;
    position: absolute;
    width: 390px;
    height: 200px;
    background-color: white;
	padding: 5px;
	border: none;
    box-sizing: border-box;
    overflow: hidden; 
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;   
   -webkit-box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
   box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
    
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  opacity:1;
  animation-delay:0s;
}
.mensaje_not{
    width: 50%;
    height: 0%;
	text-align: justify;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	font-size: 2wv;
}
.notEmail>img{
    float: right;
    height: 100%;	
	background-size: contain;
}
@keyframes slideIn{
  0%   {margin-right: 30px; opacity:0;}
  100% {margin-right: 0px; opacity:1;}
}