.bootstrap-select .dropdown-menu{
    max-width: 100%!important;
  }

  .transparente{
    background-color: transparent;
  }

  .Tamano_Check{
    width: 1.2rem;
    height:1.2rem;
  }
  .Oculta_Id{
    display: none;
  }

  .Oculta_Id_GR{
    display: none;
  }
/*
  .modal-body {
    height: 600px;
    overflow-y: auto;
  }*/