.T13{
    font-size: 12px;
}

.T12{
    font-size: 11px;
}

.fondo {
    background-color: #053654;
}
.Color_B {
    color: #fcfcfc;

}

.W80{
    width: 80px;
}

.W150{
    width: 140px;
}

.W400{
    width: 400px;
}

.ir-arriba {
    display: none;
    padding: 10.3px;
    background: #024959;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 10px;
    border-radius: 20px;
}