#encabezadoWidget{
    width: 115%;
    height: 30px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: #fff;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2c3e50;
    cursor: pointer;
}

#contenedorWidget{
    width: 25%;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    padding: 0;
    left: 0;
    top: 4;
    animation: linear ease 0.5s;
}

#contenedorUsuarios{
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(252, 252, 252);
}

#casillaUsuario{
    border: 0.1px solid #778ea5e3;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    padding: 5px;
}

#usuarios{
    font-weight: bold;
    color: midnightblue;
}

#idEstado{
    font-weight: 350;
}

#fechaHora{
    float: right;
    font-size: 9;
    color: rgb(163, 161, 161);
}

#verUsuarios{
    cursor: pointer;
}
#verUsuarios:hover{
    color: aliceblue;
}


.esconder{
    margin-left: -25%;
}


@media screen and (max-width:768px){

    #encabezadoWidget{
        width: 115%;
        height: 30px;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        color: #fff;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2c3e50;
        cursor: pointer;
    }
    
    #contenedorWidget{
        width: 50%;
        height: 80%;
        z-index: 9999;
        position: absolute;
        padding: 0;
        left: 0;
    }
    
    #contenedorUsuarios{
        padding: 0;
        width: 100%;
        height: 80%;
        overflow-y: scroll;
        background-color: rgba(240, 240, 240, 0.973);
    }

    .esconder{
        margin-left: -50%;
    }

}